.table-caption {
    font-family: 'Renegade Pursuit';
    padding: 5px;
}

table,
th,
td {
    border: 2px solid black;
}

th {
    background-color: antiquewhite;
}

td {
    font-family: 'Renegade Pursuit';
    font-size: 0.7em;
    background-color: aliceblue;
}
